doctype html
html(lang="es")
    head
        title Administrador de Tareas
        meta(charset="utf-8")
        //- link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", rel="stylesheet")
        link(href="../../node_modules/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            span.navbar-brand Administrador de Tareas 
    body
        //- block contenido
    script(href="../../node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")
    
