extends ./index.jade
block contenido
    br
    center
        div.container
            div.row
                div.col-sm-10
                    input(type="test", name="respBuscar", placeHolder="Buscar", id="respBuscar", class="form-control")
                div.col-sm-2
                    button(class="btn btn-success") Agregar
script(src="../controllers/responsables.controller.js", type="text/javascript")
